@media (min-width: 100px) and (max-width: 1000px) {
  .container-fluid {
    padding: 0 20px;
  }
}

@media (min-width: 750px) and (max-width: 999px) {
}

@media (min-width: 1000px) and (max-width: 1299px) {
}

@media (min-width: 1500px) and (max-width: 1899px) {
  .container-fluid {
    padding: 0 120px;
  }
}

@media (min-width: 1900px) {
  .container-fluid {
    padding: 0 150px;
  }
}

@media (min-height: 100px) and (max-height: 1400px) {
  /*.table > tbody > tr > td,*/
  /*.table > tbody > tr > th,*/
  /*.table > tfoot > tr > td,*/
  /*.table > tfoot > tr > th,*/
  /*.table > thead > tr > td,*/
  /*.table > thead > tr > th {*/
  /*    white-space: nowrap;*/
  /*}*/
}
